<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
            <div data-id="github_feed" data-view="GithubFeed" data-title="Github News Feed"></div>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-view="PullRequests" data-id="pull_requests"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-view="Clock"></div>
            <i class="icon-time icon-background"></i>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new 1080p dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="karma" data-view="Number" data-title="Karma" style="background-color:#96bf48;"></div>
            <i class="icon-heart icon-background"></i>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="coffee_time" data-view="CoffeeTime" data-title="Coffee Time"></div>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="tickets" data-view="Tickets" data-title="Tickets" data-text="Number of Tickets in system:" data-moreinfo="15"></div>
        </li>

    </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
